<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>

        <title>Login Page</title>
    </head>
    <body>

        <%- include('parts/header') %> 
        <div>
            <% if (user) { %>

                <%= user.firstname %> <%= user.lastname %>
    
            <% } %>
            
            <div class="loginform">
                <form name="myForm">
                    <div>
                        <label for="email">Rentrez votre email</label>
                        <input type="text" name="email_">
                    </div>
                    <br>
                    <div>
                        <label for="pass">Rentrez votre Mot de passe</label>
                        <input type="password" name="password">
                    </div>
    
                    <div class="moveinput">
                        <input type="submit">
                    </div>
               </form>
            </div>
        </div>

       <script>

        document.forms[0].addEventListener("submit", function (event) {

            event.preventDefault()

            let [ email, password ] = this

            fetch("/api/users/login", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email.value,
                    password: password.value
                })
            }).then((res) => {
                if (res.status === 200) {
                    window.location.replace('/films')
                } 
            })

            // this.seri

        })

       </script>

    </body> 
</html>